body {
    background-color: #1A1717;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    margin-left: 10%;
    margin-right: 10%;
}

@media screen and (max-width: 768px) {
    .logo {
        margin: 10%;
    }

    .logo-tasiva {
        width: 60%;
    }

    .iniciar-sesion,
    .registro {
        margin: 5%;
    }

    .btn-iniciar-sesion,
    .btn-registrarse {
        padding: 6%;
        border-radius: 40%;
    }

    .bi-caret-right::before {
        transform: scale(2);
    }

    .direccion {
        color: #70BADF;
    }

    .imagen {
        display: none;
    }

    .logo-tasiva-archivos {
        width: 25%;
        margin: 5%;
    }

    .fondo-marron {
        width: 80%;
        margin: auto;
        padding: 20px;
        background-color: #4B453E;
        border-radius: 15px;
        height: 80vh;
    }

    .resultados {
        color: #BFBBBB;

    }

    .resultados>* {
        margin: 5%;
    }

    .columna1,
    .columna2 {
        width: 45%;
        margin: 1%;
        background-color: aqua;
        display: inline-block;
    }

    .resultado-imagen {
        max-width: 100%;
    }

    .nombre-movimiento {
        display: inline-block;
        width: 80%;
        overflow: hidden;
    }

    .bi-download {
        vertical-align: top;
    }

    /* Para que los nombres aparezcan solo en una linea. */
    .nombreArchivo {
        animation: 8s linear 0s infinite alternate mover;
        text-overflow: ellipsis;
        width: 150%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}

/* La animacion para que se mueva el nombre de la imagen. */
@keyframes mover {

    0%,
    25% {
        transform: translateX(0%);
        left: 0%;
    }

    75%,
    100% {
        transform: translateX(-100%);
        left: 100%;
    }
}

@media screen and (min-width: 768px) {
    .logo {
        margin: 2%;
        transform: scale(1.5);
    }

    .logo-tasiva {
        width: 25%;
    }

    .imagen {
        width: 100%;
    }

    .foto-camara {
        max-width: 100%;
    }

    .imagen {
        width: 50%;
        height: 100vh;
        background-image: url('images/foto_camara.jpg');
        background-size: 100% 100%;
    }

    .formulario {
        padding: 3%;
    }

    .form-group input {
        width: 50%;
    }

    .formulario-inicio-sesion {
        margin: auto;
        width: 80%;
        transform: scale(1.5);
        margin-top: 20%;
    }

    .formulario-registro {
        margin: auto;
        width: 80%;
        transform: scale(1.1);
        margin-top: 10%;
    }

    .form-group label,
    .form-group input {
        margin-left: 25%;
    }

    .btn-iniciar-sesion,
    .btn-registrarse {
        margin-top: 5%;
        transform: scale(2);
    }

    .bi-caret-right::before {
        transform: scale(1.5);
    }

    .mensaje-error {
        width: 50%;
        margin: auto;
        margin-bottom: 2%;
    }
}

.form-group>label,
.form-group>a {
    color: #70BADF;
    font-weight: normal;
    font-style: italic;
}

.form-group>a {
    text-decoration: underline;
}

#buscador {
    background-color: #736A61;
    width: 80%;
    margin: auto;
    margin-bottom: 5%;
    color: #FFFFFF;
    border: 0px solid black;
    border-radius: 10px;
}