body {
    background-color: #363535;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    margin-left: 10%;
    margin-right: 10%;
}

@media screen and (max-width: 768px) {
    .logo {
        margin: 10%;
    }

    .logo-tasiva {
        width: 60%;
    }

    .iniciar-sesion,
    .registro {
        margin: 5%;
    }

    .btn-iniciar-sesion,
    .btn-registrarse {
        padding: 6%;
        border-radius: 40%;
    }

    .bi-caret-right::before {
        transform: scale(2);
    }

    .direccion {
        color: #70BADF;
    }

    .imagen {
        display: none;
    }

    /* Estilos para la pagina de archivos */
    .logo-tasiva-archivos {
        width: 30%;
        margin: 5%;
    }

    .fondo-marron {
        width: 80%;
        margin: auto;
        padding: 20px;
        background-color: #4B453E;
        border-radius: 15px;
        height: 55vh;
        overflow: auto;
    }

    .resultados>* {
        margin: 5%;
    }

    /* Para que los nombres aparezcan solo en una linea. */
    .nombreArchivo {
        animation: 8s linear 0s infinite alternate mover;
        text-overflow: ellipsis;
        width: 500%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    #buscador {
        background-color: #736A61;
        width: 80%;
        height: 4vh;
        margin: auto;
        margin-bottom: 5%;
        color: #FFFFFF;
        border: 0px solid black;
        border-radius: 20px;
        font-size: 25px;
        padding-left: 5%;
    }

    .resultados-busqueda {
        margin-top: 2%;
        text-align: center;
    }

    /* Estilos que se aplican al nombre de la imagen y al boton de descargar */
    .nombre-descargar {
        color: #FFFFFF;
        margin: 2%;
        font-size: 20px;
        text-align: right;
    }

    .bi-download {
        vertical-align: top;
    }

    /* Estilos para la pagina de subir archivos */
    .borde-subir-archivos {
        width: 60%;
        margin: auto;
        height: 20vh;
        border-radius: 20px;
        border: 2px solid #70BADF;
        border-style: dashed;
        overflow: hidden;
    }

    .input-file {
        display: none !important;
    }

    .bi-file-earmark-arrow-up {
        font-size: 10vh;
        color: #70BADF;
        display: block;
        margin-top: 2.5vh;
        text-align: center;
    }

    /* Para que el label ocupe el 100% y asi aunque no des encima de la imagen se abra para escoger el archivo. */
    .label-input {
        width: 100%;
        height: 100%;
    }

    .nombre-archivo {
        width: 50%;
        margin: auto;
        margin-top: 5%;
        margin-bottom: 2%;
    }

    .nombre-archivo>label {
        color: #70BADF;
        font-weight: normal;
        font-style: italic;
        font-size: 2rem;
        margin-left: 1%;
    }

    /* Para que aplique los mismos estilos al texto y al icono. */
    .boton-subir {
        background-color: #70BADF;
        width: 30%;
        margin: auto;
        text-align: center;
        font-size: 3rem;
        height: 5vh;
        border-radius: 30px;
        margin-top: 5%;
        overflow: hidden;
    }

    .bi-cloud-upload {
        vertical-align: middle;
    }

    .navbar {
        height: 6%;
        background-color: #736A61;
        width: 80%;
        margin: auto;
        margin-top: 5%;
        margin-bottom: 5%;
        border-radius: 20px;
        overflow: auto;
    }

    .navbar-subir {
        height: 6.5%;
        background-color: #736A61;
        width: 80%;
        margin: auto;
        margin-top: 5%;
        margin-bottom: 5%;
        border-radius: 20px;
        position: absolute;
        bottom: 0;
        left: 10%;
        overflow: auto;
    }

    .navbar-calendario {
        height: 8%;
        background-color: #736A61;
        width: 80%;
        margin: auto;
        margin-top: 5%;
        margin-bottom: 5%;
        border-radius: 20px;
        position: absolute;
        bottom: 0;
        left: 10%;
        overflow: auto;
    }

    .bi-file-code::before {
        font-size: 100%;
        margin-top: 2%;
        vertical-align: -webkit-baseline-middle;
    }

    .logo-calendario img {
        width: 50%;
        margin: auto;
    }

    .resultados-calendario {
        overflow: auto;
        margin: 1% auto;
    }

    .insertar-actividad {
        margin: 4% auto;
        text-align: center;
    }

    .logo-tasiva-añadir-actividad {
        display: block;
        margin: auto;
        width: 50%;
    }
}

/* La animacion para que se mueva el nombre de la imagen. */
@keyframes mover {

    0%,
    25% {
        transform: translateX(0%);
        left: 0%;
    }

    75%,
    100% {
        transform: translateX(-100%);
        left: 100%;
    }
}

@media screen and (min-width: 768px) {
    .logo {
        margin: 2%;
        transform: scale(1.5);
    }

    .logo-tasiva {
        width: 25%;
    }

    .foto-camara {
        max-width: 100%;
    }

    .imagen {
        width: 50%;
        height: 100vh;
        background-image: url('images/foto_camara.jpg');
        background-size: 100% 100%;
    }

    .formulario {
        padding: 3%;
    }

    .form-group input {
        width: 50%;
    }

    .formulario-inicio-sesion {
        margin: auto;
        width: 80%;
        transform: scale(1.5);
        margin-top: 20%;
    }

    .formulario-registro {
        margin: auto;
        width: 80%;
        transform: scale(1.1);
        margin-top: 10%;
    }

    .form-group label,
    .form-group input {
        margin-left: 25%;
    }

    .btn-iniciar-sesion,
    .btn-registrarse {
        margin-top: 5%;
        transform: scale(2);
    }

    .bi-caret-right::before {
        transform: scale(1.5);
    }

    .mensaje-error {
        width: 50%;
        margin: auto;
        margin-bottom: 2%;
    }

    /* Estilos para la pagina de Archivos */
    .logo-archivos {
        display: none;
    }

    .archivos {
        margin-top: 2%;
        margin-right: 5%;
        margin-left: 5%;
    }

    #buscador {
        background-color: #736A61;
        width: 50%;
        height: 6vh;
        margin: auto;
        margin-top: 2%;
        margin-bottom: 2%;
        color: #FFFFFF;
        border: 0px solid black;
        border-radius: 20px;
        font-size: 30px;
        padding-left: 5%;
    }

    .fondo-marron {
        width: 80%;
        margin: auto;
        padding: 20px;
        background-color: #736A61;
        border-radius: 15px;
        height: 70vh;
        overflow: auto;
    }

    /* Para que los nombres aparezcan solo en una linea. */
    .nombreArchivo {
        animation: 7s linear 0s infinite alternate mover;
        text-overflow: ellipsis;
        width: 180%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .resultados-busqueda {
        margin-top: 1%;
        text-align: center;
    }

    .navbar {
        height: 20%;
        background-color: #736A61;
        width: 80%;
        margin: auto;
        margin-top: 4%;
        border-radius: 20px;
    }

    /* Estilos que se aplican al nombre de la imagen y al boton de descargar */
    .nombre-descargar {
        color: #FFFFFF;
        margin: 2%;
        font-size: 30px;
        text-align: right;
    }

    .bi-download {
        vertical-align: top;
        font-size: 35px;
    }

    /* Estilos para la pagina de subir */
    .subir-archivos {
        margin: 5%;
    }

    .borde-subir-archivos {
        width: 50%;
        margin: auto;
        height: 40vh;
        border-radius: 20px;
        border: 2px solid #70BADF;
        border-style: dashed;
    }

    .input-file {
        display: none !important;
    }

    .bi-file-earmark-arrow-up {
        font-size: 20vh;
        color: #70BADF;
        display: block;
        margin-top: 5vh;
        text-align: center;
    }

    /* Para que el label ocupe el 100% y asi aunque no des encima de la imagen se abra para escoger el archivo. */
    .label-input {
        width: 100%;
        height: 100%;
    }

    .nombre-archivo {
        width: 50%;
        margin: auto;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .nombre-archivo>label {
        color: #70BADF;
        font-weight: normal;
        font-style: italic;
        font-size: 2rem;
        margin-left: 1%;
    }

    /* Para que aplique los mismos estilos al texto y al icono. */
    .boton-subir {
        background-color: #70BADF;
        width: 20%;
        margin: auto;
        text-align: center;
        font-size: 3rem;
        height: 6vh;
        border-radius: 30px;
        margin-top: 2%;
    }

    .navbar-subir {
        position: absolute;
        left: 10%;
        height: 6.5%;
        bottom: 0;
        background-color: #736A61;
        width: 80%;
        margin: auto;
        margin-top: 5%;
        margin-bottom: 2%;
        border-radius: 20px;
    }

    .bi-file-code::before {
        font-size: 200%;
        margin-top: 2%;
    }

    .navbar-calendario {
        position: absolute;
        left: 10%;
        height: 8%;
        bottom: 0;
        background-color: #736A61;
        width: 80%;
        margin: auto;
        margin-top: 5%;
        margin-bottom: 2%;
        border-radius: 20px;
    }

    .resultados-calendario {
        max-width: 700px;
    }

    .logo-calendario img {
        width: 25%;
        margin: auto;
    }

    .resultados-calendario {
        height: 15vh;
        overflow: auto;
        margin: 1% auto;
    }

    .insertar-actividad {
        margin: 2% auto;
        text-align: center;
    }

    .logo-tasiva-añadir-actividad {
        width: 20%;
        display: block;
        margin: auto;
    }
}

.resultado {
    width: 40%;
    height: 30vh;
    display: inline-block;
    margin: 2%;
}

.imagen-resultado {
    font-size: 1000%;
    height: 30vh;
    overflow: hidden;
}

.form-group>label,
.form-group>a {
    color: #70BADF;
    font-weight: normal;
    font-style: italic;
}

.form-group>a {
    text-decoration: underline;
}

input[type="search"]::placeholder {
    color: #FFFFFF;
    letter-spacing: 1px;
}

.resultados {
    color: #FFFFFF;
    margin: 0;
}

.columna1,
.columna2 {
    width: 45%;
    margin: 1%;
    display: inline-block;
}

.resultado-imagen {
    width: 100%;
    border-radius: 20px;
    height: 100%;
}

.nombre-movimiento {
    display: inline-block;
    width: 80%;
    overflow: hidden;
}

.primero,
.segundo,
.tercero,
.cuarto {
    width: 24%;
    display: inline-block;
    margin: auto;
}

.actual {
    color: #70BADF;
}

.subir,
.archivos,
.cerrar-sesion,
.calendario {
    color: #FFFFFF;
}

.bi-cloud-arrow-up {
    font-size: 333%;
    margin-right: 5%;
    margin: auto;
}

.bi-cloud-arrow-down-fill {
    font-size: 333%;
    margin-right: 5%;
}

.bi-x {
    font-size: 333%;
    margin-right: 5%;
}

.bi-calendar-check {
    font-size: 280%;
    margin-right: 5%;
}
.bi-calendar-check::before{
    vertical-align: baseline;
}

#nombre-archivo {
    border-radius: 30px;
}

.boton-subir>a:link,
.boton-subir>a:visited,
.boton-subir>a:active {
    text-decoration: none;
}

.estado-archivo {
    width: 30%;
    margin: auto;
    text-align: center;
    margin-top: 2%;
    font-size: 2rem;
}

.subir {
    background-color: transparent;
    width: 100%;
    border: 0;
}

.calendario {
    margin-top: 1%;
}

.btn-añadir-actividad {
    width: 6vh;
    height: 6vh;
}

.btn-pagina-añadir-actividad {
    transform: scale(1.6);
}

.añadir-actividad {
    width: 80%;
    margin: 1% auto;
}

.actividad {
    width: 50%;
    text-align: center;
    margin: auto;
}

.actividad>* {
    margin-top: 2%;
}

.descripcion {
    padding: 1%;
    width: 100%;
}

.mensaje-actividad {
    width: 50%;
    margin: 2% auto;
    text-align: center;
    font-size: 1.2rem;
}

.resultados-hoy>button,
.resultados-otros>button {
    width: 48%;
    color: white;
    margin: 1%;
}

/* Para poner color al contenido del collapse. */
.card-body {
    color: black;
    margin-left: 1%;
    overflow: auto;
}

.actividades-hoy {
    background-color: #e13a9d;
}

.actividades-otros {
    background-color: #007bff;
}

.logo-calendario {
    width: 50%;
    margin: auto;
}

.resultados-calendario button:hover {
    color: #FFFFFF;
}

.btn-subir {
    height: 100%;
    background-color: transparent;
    border: 0px solid black;
    color: #FFFFFF;
}

.bi-plus-circle::before {
    transform: scale(1.5);
}